    <!-- Top Panel
    ================================================== -->
    <div id="top-panel">
      <div class="login-box">
        <form>
		  <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span><input class="span2" id="username" type="text" name="username" placeholder="User Name">
          </div>
		  <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span><input class="span2" id="userpassword" type="password" name="userpassword" placeholder="Password">
          </div>
          <label class="checkbox">
    		<input type="checkbox"> Remember me
  		  </label>
          <button type="submit" class="btn">Sign in</button>
        </form>
      </div><!-- login-box -->
      <div class="login-button toggle">
        <a href="#">Sign in</a>
      </div><!-- login-button -->
    </div><!-- top-panel -->